extends layout

block content
    table.table.table-striped.table-hover
        thead
            tr
                th 用车部门
                th 租用人员
                th 创建时间
                th 申请状态
        each rec in recs
            tbody
                tr
                    td #{rec.depa}
                    td #{rec.renter}
                    td #{rec.createTime}
                    td #{rec.status}