doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/justified-nav.css')
    block head
  body
    div.container
      div.masthead
        h3.text-muted 公车申请
        nav
          ul.nav.nav-justified
            li.nav-item
              a.nav-link(name="index", href='/') 主页
            li.nav-item
              a.nav-link(name="history", href='/history') 历史
            li.nav-item
              a.nav-link(name="apply", href='/apply') 租赁 
            li.nav-item
              a.nav-link(name="status", href='/status') 状态
      block content
      footer.footer
        p 
          span &copy; 计算机应用管理科
          span= ' 用户: '+session.realname
          span= ' 部门: '+session.depa+' '
          a(href="javascript:void(0)")#logout 注销

    script(src='/node_modules/jquery/dist/jquery.min.js')
    //- script(src='/node_modules/jquery-dateformat/dist/jquery-dateFormat.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/common.js')
    block footer-content